@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $footer;

    &--btn {
        float: right; 
    }

}

.wave {
    @include gradient;
}
