@use '../custom' as *; 
@use '../components/mixins' as *; 

.intro-section{
    @include gradient;
    padding: 6rem 0 0 0;
    width: 100%;
    height: 100%;
}

.intro-section-first{
    @include gradient;
    padding: 6rem 0 4rem 0;
    width: 100%;
    height: 100%;
}

.intros {

    .video-box {
        position: relative;

        &--img {
            padding-left: 1rem; 

        }

        a {
            @include absoluteCenter;

            span {

                i {
                    font-size: 6rem;
                    color: $secondary;

                }
            }

        }

    }

    .image-box-intro {
        position: relative;
        max-width: 50%;
        border-radius: 50%;


    }


    .image-box {
        // padding-left: 4rem;
        padding-bottom: 2rem;
        position: relative;
        top: 1rem;
        bottom: 1rem;
        left: 1rem;
        max-width: 90%;
        height: auto;
        border-radius: 50%;

    }

}

.border-animation {
    position:absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid $white;
    border-radius: 50%;
    animation: pulse-border 1s linear infinite;

    &--border-1 {
        animation-delay: 1s;
    }

    &--border-2 {
        animation-delay: 1.5s;
    }

}

.social-media-section {
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
}

.social-media {
    padding: 0 0 3rem 0;

    &--box {
        max-width: 100%;
        height: 3rem;
        margin-bottom: 7rem;
        padding: 0;
        text-align: center;
        position: relative;

        img {
            height: 200%;
            transition: all 0.25s;

            &:hover {
                transform: translateY(-0.25em);
            }

        }


    }

}