@use '../custom' as *;

.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--intro {
        font-size: larger;
        display: inline-block;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        
    }

    &--description {
        font-size: 1rem;
        display: block;
        color: $white;
        margin-top: 1.2rem;
        text-transform: none;
    
        @include media-breakpoint-up(lg){
            font-size: 1.5rem;
            display: inline-block;

        }
    }
}

// display 3 
.display-3 {
    font-family: 'Poppins', sans-serif;

    &--title {
        margin-top: 2rem;
        font-size: 1rem;
        text-transform: capitalize;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        background-image: linear-gradient(to right, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-up(lg) {
            font-size: 1.2rem;
        }


    }
}

// heading line
.heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}

.heading-line::after {
    content: "";
    width: 2rem;
    padding-top: 0.5rem; 
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
}

// gradient bg
.gradient {
    background: linear-gradient(to right, rgba($primary,0.95), rgba($secondary,0.95));
}

.label {
    color: rgba($primary,0.95)
}

.desc {    
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1px;
    font-weight: 600;

    &--level {
        margin-top: 1px;
        font-weight: 400;
    
    }
}

.display-4 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--intro {
        display: inline-block;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        
    }

    &--description {
        font-size: 1rem;
        display: block;
        color: $white;
        margin-top: 1.2rem;
        text-transform: none;
    
        @include media-breakpoint-up(lg){
            font-size: 1.3rem;
            display: inline-block;

        }
    }
}


.nav-name {
    font-weight: 600;
    font-size: x-large;
}